<div class="homepage">
<br>
<div class="row">
  <div class="small-6 large-5 columns"><h1>Live audience polling</h1></div>
  <div class="small-6 large-7 columns">
    <br>

    <h4>Create a poll. It'll be the easiest thing you do today.</h4>
    <form action="/polls/new">
      <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" name="poll[question]" placeholder="Enter poll question here. (Do you like me?)">
        </div>
        <div class="small-3 columns">
          <input type="submit" id="root-create-poll" class="small button noshadow" value="Create poll">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="large-6 columns center donut"><canvas id="canvas-donut" height="300" width="300"></canvas></div>
  <div class="large-6 columns center pie"><canvas id="canvas-pie" height="300" width="300"></canvas></div>
</div>


<div class="row">
  <br><p></p>
  <!-- <br><p></p> -->
  <div class="large-6 columns">
    <div class="panel radius">
      <h3>How Poll Cat works</h3>
      <h4>Step 1. <small>Ask your audience a question with the Poll Cat app.</small></h4>
      <center><img src="/assets/convo.png"></center>
      <h4>Step 2. <small>Audience answers through SMS or web browser.</small></h4>
      <center><img src="/assets/phone.png"></center>
      <h4>Step 3. <small>You're done! See your poll update in real time.</small></h4>
      <center><img src="/assets/chart.png"></center>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="panel radius">
      <h3>Take control of your analytics</h3>
      <ul class="signupinfo no-bullet">
        <li><img src="/assets/check.png"> Real-time data</li>
        <li><img src="/assets/check.png"> Manage multiple polls at once</li>
        <li><img src="/assets/check.png"> Customize polls</li>
        <li><img src="/assets/check.png"> Track user activity</li>
        <li><img src="/assets/check.png"> Share privately between friends</li>
      </ul>
      <a href="/users/new"><button class="noshadow expand">Sign Up Now</button></a>
    </div>

    <blockquote class="blkquote">Poll Cat is amazing. I receive instantaneous feedback and continuous live updates of my analytics.
      Not to mention, my information renders beautifully in easy-to-read graphs.
      Thanks, Poll Cat. I don't know where I'd be in my life without you.
      <cite>Jaydeep Singh, software engineer</cite>
    </blockquote>
    <p>
    <blockquote class="blkquote">Awesome.
      <cite>Poll Cat User #4, satisfied client</cite>
    </blockquote>
  </div>

</div>

<!-- <div class="colored-container">
  <p></p>
  EH?
  <p></p>
</div> -->


<div class="row">
  <div class="text-center">
    <hr>
    <p></p>
    <h7 class="subheader footer"><i>Poll Cat &copy; 2013
    <br>
    <a class="footer" href="https://github.com/eneriberri/">Irene Nguyen</a></i></h6>
  </div>
</div>
</div>



<script>
var doughnutData = [
				{
					value: 30,
					color: "#E6E2AF" //PollCatApp.COLORS[0] //"#F7464A"
				},
				{
					value : 50,
					color : "#A7A37E" //PollCatApp.COLORS[1] //"#46BFBD"
				},
				{
					value : 100,
					color : "#EFECCA" //PollCatApp.COLORS[2] // "#FDB45C"
				},
				{
					value : 50,
					color : "#046380" //PollCatApp.COLORS[3] //"#949FB1"
				},
				{
					value : 120,
					color : "#002F2F" //PollCatApp.COLORS[5] //"#4D5360"
				}

			];
      
      
  var donutContext = document.getElementById("canvas-donut").getContext("2d");
  var chartDonut = new Chart(donutContext);

  chartDonut.Doughnut(doughnutData, { animationEasing : "easeOutQuart" });
  //set interval for donut
  var timesRunDonut = 1;
  var donutInterval = setInterval(function() {
    timesRunDonut += 1;
    if(timesRunDonut === 15){
        clearInterval(donutInterval);
    }
  			var path = Math.floor((Math.random()*10)+1);
  			if (path > 4) {
  				var randIndex = Math.floor(Math.random() * doughnutData.length);
  				doughnutData[randIndex].value += 20;
  			}

  			else {
          var randIndex = Math.floor(Math.random()*PollCatApp.COLORS.length);
  				doughnutData.push(
  					{
  						value : 50,
  						color : PollCatApp.COLORS[randIndex]
  					}
  				)
  			}

  			chartDonut.Doughnut(doughnutData, { animationEasing : "easeOutQuart" });
  		}, 6000);



    var pieContext = document.getElementById("canvas-pie").getContext("2d");
		var chartPie = new Chart(pieContext);
    
    //set interval for pie
    var timesRunPie = 1;
    var pieInterval = setInterval(function() {
      timesRunPie += 1;
      if(timesRunPie === 15){
          clearInterval(pieInterval);
      }
    			var path = Math.floor((Math.random()*30)+1);
    			if (path > 4) {
    				var randIndex = Math.floor(Math.random() * pieData.length);
    				pieData[randIndex].value += 20;
    			}

    			else {
            var randIndex = Math.floor(Math.random()*PollCatApp.COLORS.length);
    				pieData.push(
    					{
    						value : Math.floor((Math.random()*10)+1),
    						color : PollCatApp.COLORS[randIndex]
    					}
    				)
    			}
          
          chartPie.Pie(pieData, { animationEasing : "easeOutQuart" });
    		}, 5000);


  var pieData = [
  				{
  					value: 30,
  					color:"#FCFFF5"
  				},
  				{
  					value : 50,
  					color : "#D1DBBD"
  				},
  				{
  					value : 100,
  					color : "#91AA9D"
  				}

  			];
        
        chartPie.Pie(pieData, { animationEasing : "easeOutQuart" });
</script>