<h2>Poll Index</h2>
<% polls.each(function(poll) { %>
  <%= poll.escape("question") %>
  <br>
<% }); %>

<!-- <canvas id="myChart" height="450" width="450" style="width: 450px; height: 450px;"></canvas> -->