<h1>Create Poll</h1>
<form>
  <label for="poll_question">Your Question</label>
  <input
     id="poll_question"
     name="poll[question]"
     type="text">

  <label for="poll_type">Type of Poll:</label>
  <select id="poll_type" name="poll[poll_type]">
     <option>Pie Chart</option>
     <option>Bar Graph</option>
   </select>

  <input type="submit" value="Create Poll">
</form>