<h2><%= poll.escape("question") %></h2>
<br>

<ul id="answers">
  <% poll.get("answers").each(function(answer) { %>
    <% textCode+=1 %>
    <li><%= answer.attributes.body %> Text Code: <%= textCode+""+poll.id %></li>
  <% }); %>
</ul>

<ul id="votes">

</ul>

<canvas id="myChart" height="450" width="450" style="width: 450px; height: 450px;"></canvas>


<script>
  var numAnswers = $("li").size();
  var pusher = new Pusher('280047e8dcfd93f78f89');
  var channel = pusher.subscribe('vote_channel');


  channel.bind('new_vote', function(data) {
    $('#votes').append("<li>You voted: " + data.message+""+data.poll_id + "</li>");
    var pieData = [];
    var colors = ["#F38630", "#E0E4CC", "#69D2E7"];
    console.log("data votes before");
    console.log(data.votes);

    //populate vote freq hash with default values
    for(var i = 0; i < numAnswers; i++) {
      if(typeof data.votes[i+1] === 'undefined')
        data.votes[i+1] = 0;
    }

    console.log("data votes after");
    console.log(data.votes);

    for(var i = 0; i < numAnswers; i++) {
      pieData.push({ value: data.votes[i+1], color: colors[i] });
    }
    console.log("pie data from show template");
    console.log(pieData);

    var ctx = $("#myChart").get(0).getContext("2d");
    var myPie = new Chart(ctx).Pie(pieData);
  });

</script>