<div class="row">
<h1>Sign Up</h1>

<form data-abide action="<%= users_url %>" method="post" class="custom">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <div class="name-field">
    <label>Username <small>required</small></label>
    <input type="text" name="user[username]" pattern="alpha_numeric" required>
    <small class="error">Username cannot be blank.</small>
  </div>
  <div class="password-field">
    <label>Password <small>required</small></label>
    <input type="password" name="user[password]" required>
    <small class="error">Password must be at least 6 characters in length.</small>
  </div>
  <div class="bot-field">
    <label>Are you a robot? <small>required</small></label>
    <input type="text" placeholder="No" pattern="robot" required>
    <small class="error">D:</small>
  </div>
  <p><input type="submit" value="Sign Up" class="medium button expand noshadow"></p>
</form>
</div>
