<center><h1>Create Poll</h1></center>
<form action="<%= polls_url %>" method="post" accept-charset="utf-8" class="custom">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="poll[user_id]" value="<%= current_user.id %>">

    <div class="row">
      <label for="your_question">Your Question</label>
      <% if params[:poll] %>
        <input type="text" name="poll[question]" id="your_question" placeholder="e.g. Do you like me?" value="<%= params[:poll][:question] %>">
      <% else %>
        <input type="text" name="poll[question]" id="your_question" placeholder="e.g. Do you like me?">
      <% end %>

      <br>

      <label for="type">Type</label>
      <select name="poll[poll_type]" id="type">
      <option value="pie">Pie Chart</option>
      <option value="bar">Donut Chart</option>
      </select>

      <br>

      <label for="answer_choice">Answer Choices</label>
      <input type="text" name="answers[1][body]" id="answer_choice" placeholder="Yes">
      <input type="text" name="answers[2][body]" placeholder="You bet">

      <p class="more-answers"></p>
      <button type="button" id="add-answer" class="tiny button">+</button>
      <button type="button" id="remove-answer" class="tiny button disabled">-</button>
      <p></p>


      <p><input type="submit" value="Create Poll" class="medium button expand noshadow"></p>
    </row>
</form>

<script>

  $("#add-answer").on("click", function (event) {
      if($(".more-answers").children().length > 6) {
        console.log("in here")
        $("#add-answer").addClass("disabled");
      }
      else {
        $("#remove-answer").removeClass("disabled");
        var stringArr = ["Sushi", "Meow~", "Mochi", "Tuna", "Tiramisu", "Udon", "LuckyCat", "Ramen", "Egg", "BubbleTea"];
        var randIndex = Math.floor(Math.random()*stringArr.length);
        var answerField = "<input type='text' name='answers[" + Date.now() + "][body]' placeholder=" + stringArr[randIndex] + ">";
        $(".more-answers").append('<span>' + answerField + '</span>');
        $(".more-answers").last().focus();
        $(".more-answers").last().select();
      }
    }
  );

  $("#remove-answer").on("click", function (event) {
      $("p span").last().remove();
      $("#add-answer").removeClass("disabled");

      if($(".more-answers").children().length === 0)
        $("#remove-answer").addClass("disabled");
    }
  );

</script>