<h1>Create Poll</h1>
<form action="<%= polls_url %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="poll[user_id]" value="<%= current_user.id %>">
  <label for="your_question">Your Question</label>
  <input type="text" name="poll[question]" id="your_question">
  <br>

  <label for="type">Type</label>
  <select name="poll[poll_type]" id="type">
  <option value="pie">Pie Chart</option>
  <option value="bar">Bar Graph</option>
  </select>
  <br>

  <label for="answer_choice">Answer Choices</label>
  <input type="text" name="answers[1][body]" id="answer_choice">
  <br>

  <input type="text" name="answers[2][body]" id="answer_choice">
  <span class="more-answers"></span>
  <button type="button" id="add-answer">+</button>

  <p></p>


  <p><input type="submit" value="Create Poll" class="btn btn-primary"></p>
</form>

<script>
  $("#add-answer").on("click", function (event) {
    var answerField = "<input type='text' name='answers[" + Date.now() + "][body]'>";
    $(".more-answers").append(answerField);
    }
  );
</script>