<h1>Create Poll</h1>
<form action="<%= user_polls_url %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="poll[user_id]" value="<%= params[:user_id] %>">
  <label for="your_question">Your Question</label>
  <input type="text" name="poll[question]" value="" id="your_question">
  <br>

  <label for="type">Type</label>
  <select name="poll[poll_type]" id="type">
  <option value="pie">Pie Chart</option>
  <option value="bar">Bar Graph</option>
  </select>
  <br>

  <label for="answer_choice">Answer Choice</label>
  <input type="text" name="answer[body]" value="" id="answer_choice">
  <br>


  <p><input type="submit" value="Create Poll"></p>
</form>