// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square {
	height: 40px;
	width: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  font-weight: bold;
}

body {
  background-image: url(/assets/skyyy_merged.png);
  background-repeat:repeat-x;
}

.noshadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.poll-edit-ques {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 43px;
}

.poll-edit-answer {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 30px;
}

.greyed {
  background-color: black !important;
  border: black;
}

.center {
  text-align: center;
}

.colored-container {
  background-color: #ff3d3d;
  color: white !important;
}

ul.signupinfo li {
  padding-left: 30px;
}

.blkquote {
  padding-left: 30px;
}
