// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.square {
	height: 40px;
	width: 40px;
  float: left;
}

.noshadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.poll-edit-ques {
  border: none;
  outline: none;
  font-size: 44px;
  font-weight: bold;

}
