<form action="<%= url %>" method="post" accept-charset="utf-8" class="custom">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">

  <br>

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <br>

  <p><input type="submit" value="<%= button_val %>" class="medium button expand noshadow"></p>
</form>
